@charset "UTF-8";

/* SAGE2 is available for use under the SAGE2 Software License
 * 
 * University of Illinois at Chicago's Electronic Visualization Laboratory (EVL)
 * and University of Hawai'i at Manoa's Laboratory for Advanced Visualization and
 * Applications (LAVA)
 * 
 * See full text, terms and conditions in the LICENSE.txt included file
 *
 * Copyright (c) 2014
 */

/* CSS Document */

@font-face {
	font-family: 'Arimo';
	src: url('/css/Arimo-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Arimo';
	src: url('/css/Arimo-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Arimo';
	src: url('/css/Arimo-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Arimo';
	src: url('/css/Arimo-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}


* {
	margin: 0;
	padding: 0;
}
	
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
	background: #FFFFFF;
	width: 100%;
	height: 100%;
	cursor: none;
}

#background {
	position:absolute;
	overflow: hidden;
}

#main {
	position:absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#upperBar {
	position:absolute;
	width: 100%;
	background: rgba(0,0,0,0.5);
}

.windowItem {
	position:absolute;
	border: 1px solid #000000;
	box-shadow: 8px 0px 15px #222222;
}
.windowItemNoBorder {
        border: 1px solid rgba(0,0,0,0);
        box-shadow: none;
}

.windowTitle {
	position:absolute;
	background-color: #666666;
	border: solid 1px #000000;
	overflow: hidden;
	box-shadow: 8px 0px 15px #222222;
}

.windowControls {
	position:absolute;
	background-color: rgba(0,0,0,0.0);
	/*border: solid 1px #000000;*/
	/*box-shadow: 8px 8px 12px #222222;*/
	overflow: hidden;
}

.pointerItem {
	position:absolute;
	display: block;
}

.sageItem {
	display: block;
}

.widgetBackground{
	fill: rgba(140,140,140,1.0);
	stroke: rgba(230,230,230,1.0);
	stroke-width:1;
}
.widgetText {
	text-anchor:middle;
	font-family:sans-serif;
	fill: rgba(250,250,250,1.0);
}

.textInput{
	font-family:sans-serif;
	fill: rgba(250,250,250,1.0);
	font-weight:lighter; 
	font-style:normal;
}
